* {
    font-family: 'Press Start 2P', cursive;
}
body {
    background-image: url("img/csimage.png");
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 14px;
}
button {
    border:0;
    cursor: pointer;
}
button:hover {
    background-color: lightgrey;
}
canvas {
    margin-top: 40px;
}
#transitionDiv {
    background-color: black;
    position: absolute;
    opacity: 0;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 10;
}